@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Oswald&family=Patrick+Hand+SC&family=Poiret+One&family=Roboto&display=swap');

h1 {
  font-size: 60px;
  margin-bottom: -50px;
}

h2 {
  font-size: 40px;

}

img {
  margin-top: 5px;
}

#char-id-name {
  font-size: 30px;
}

.App {
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;

}
button {
  background: none;
  border: none;
  font-size: 50px;
  margin: 0px 50px;
  font-weight: bold;
}

.slider {
  background: green;
  margin: -30px 0px;
}


