@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Oswald&family=Patrick+Hand+SC&family=Poiret+One&family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  color:  white;
}

h1 {
  color: white;
  font-size: 55px;
  margin-top: 0px;
  text-decoration: underline;
}

img {
  margin-top: 10px;
}

#char-id-name {
  color: #bfde42;
  font-size: 32px;
  margin-top: 0px;
  text-transform: uppercase;
}

h3 {
  margin: 0px;
  font-size: 24px;
}

.info {
  color: #bfde42;
  font-size:28px;
}

button {
  background: none;
  border-color: #41b4c9;
  color: #41b4c9;
  font-size: 30px;
  margin: 10px 50px;
  font-weight: bold;
}

.slider {
  margin: -30px 0px;
}

.char {
  padding: 3px;
  background-color: white;
}


